# Department Store Sales Forecasting

## Time Series Analysis (1/3)

## Contents
- [Data Import](#Data-Import)
- [Data Cleaning](#Data-Cleaning)

## Data Import

This project uses datasets from [US Census - Monthly Sales for Retail and FoodServices](https://www.census.gov/econ/currentdata/). This provides monthly estimates on department store sales .

### Libraries

In [1]:
# Import libraries
from datetime import datetime

import numpy as np
import pandas as pd

In [2]:
# Change the option to display with no max
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

### Data Import

In [3]:
# Read in the data
df = pd.read_csv("../data/original/4521_department_stores.csv", delimiter=";")

# Review
df.head(10)

                                  U.S. Census Bureau
0     Source: Monthly Retail Trade and Food Services
1                4521: Department Stores: U.S. Total
2  Seasonally Adjusted Sales - Monthly [Millions ...
3                               Period: 1992 to 2023
4          Data Extracted on: May 12, 2023 (5:59 pm)
5                                       Period,Value
6                                     Jan-1992,14134
7                                     Feb-1992,14472
8                                     Mar-1992,14543
9                                     Apr-1992,14529

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   U.S. Census Bureau  390 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

In [5]:
df.isnull().sum()

U.S. Census Bureau    0
dtype: int64

## Data Cleaning

#### Drop irrelevant columns

In [6]:
# Drop the first 6 rows
df.drop(index=range(6), inplace=True)
df.head()

   U.S. Census Bureau
6      Jan-1992,14134
7      Feb-1992,14472
8      Mar-1992,14543
9      Apr-1992,14529
10     May-1992,14634

In [7]:
# Drop the last 10 rows
last_10_rows = df.tail(10).index

df.drop(last_10_rows, inplace=True)
df.tail(2)

    U.S. Census Bureau
378     Jan-2023,11907
379     Feb-2023,11742

#### Set date as the new index

In [8]:
df.columns

Index(['U.S. Census Bureau'], dtype='object')

In [9]:
# Split the column into separate date and sales column
df[["date", "sales"]] = df["U.S. Census Bureau"].str.split(",", expand=True)

In [10]:
# Drop the original column
df.drop("U.S. Census Bureau", axis=1, inplace=True)

# Review
df.head(2)

       date  sales
6  Jan-1992  14134
7  Feb-1992  14472

#### Convert date column to datetime format

In [11]:
# Define a function
def parse_date(date_str):
    return datetime.strptime(date_str, "%b-%Y")

In [12]:
# Apply the function
df["date"] = df["date"].apply(parse_date)

In [13]:
# Review
df.head(2)

        date  sales
6 1992-01-01  14134
7 1992-02-01  14472

In [14]:
# Set the 'date' column as the new index
df.set_index("date", inplace=True)

# Review
df.head(2)

            sales
date
1992-01-01  14134
1992-02-01  14472

#### Change sales data type

In [15]:
# Change data type to int
df["sales"] = df["sales"].astype("int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 374 entries, 1992-01-01 to 2023-02-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sales   374 non-null    int64
dtypes: int64(1)
memory usage: 5.8 KB

### Save clean dataframe as csv file

In [16]:
# Save dataset in csv file
df.to_csv("../data/4521_department_stores_v2_clean.csv")

## Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|date|datetime|4521_department_stores.csv|date (year and month)|
|sales|int64|4521_department_stores.csv|estimates on department stores sales in the US|